{% extends "home.html" %}

{% block contents %}

  <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <a href="/store/home"  aria-label="Toggle navigation">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a  href="{% url 'about' %}">About Us</a>
                                        
                                    </li>
                                    <li class="nav-item">
                                        <a class="active" href="{% url 'grid' %}">Products</a>
                                    </li>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                                            data-bs-target="#submenu-1-4" aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Toggle navigation">Services</a>
                                        <ul class="sub-menu collapse" id="submenu-1-4">
                                            <li class="nav-item"><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a>
                                            </li>
                                            <li class="nav-item"><a href="blog-single.html">Blog Single</a></li>
                                            <li class="nav-item"><a href="blog-single-sidebar.html">Blog Single
                                                    Sibebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'contactuser' %}" aria-label="Toggle navigation">Contact Us</a>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                        </nav>
                        <!-- End Navbar -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Nav Social -->
                    <div class="nav-social">
                        <h5 class="title">Follow Us:</h5>
                        <ul>
                            <li>
                                <a href=""><i class="lni lni-facebook-filled"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="lni lni-twitter-original"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="lni lni-instagram"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="lni lni-skype"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Nav Social -->
                </div>
            </div>
        </div>
 </header>
    <!-- Shopping Cart -->


    <div class="shopping-cart section">
        <div class="container">
            <div class="cart-list-head">
                <!-- Cart List Title -->
                <div class="cart-list-title">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-12">

                        </div>
                        <div class="col-lg-4 col-md-3 col-12">
                            <p>Product Name</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>Quantity</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>Subtotal</p>
                        </div>
                        
                        <div class="col-lg-1 col-md-2 col-12">
                            <p>Remove</p>
                        </div>
                    </div>
                </div>
                <!-- End Cart List Title -->
                <!-- Cart Single List list -->
                 {% for i in data %}
                <div class="cart-single-list">
                    <div class="row align-items-center">
                        <div class="col-lg-1 col-md-1 col-8">
                            {% comment %} <a href="product-details.html"><img src="assets/images/cart/01.jpg" alt="#"></a> {% endcomment %}
                        </div>
                        <div class="col-lg-4 col-md-2 col-10">
                            <h5 class="product-name"><a href="product-details.html">
                                    {{i.Product}}</a></h5>
                            {% comment %} <p class="product-des">
                                <span><em>Type:</em> Mirrorless</span>
                                <span><em>Color:</em> Black</span>
                            </p> {% endcomment %}
                        </div>
                        
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>{{i.Qty}}</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>( {{i.Qty}} x {{i.Price}} ) =  ₹{{i.Total}}</p>
                        </div>
                        <div class="col-lg-2 col-md-3 col-12">
                            <a class="remove-item" href="{% url 'cartdel' pid=i.id %}"><i class="lni lni-close"></i></a>
                        </div>
                        {% comment %} <div class="col-lg-1 col-md-2 col-12">
                            <a class="remove-item" href="javascript:void(0)"><i class="lni lni-close"></i></a>
                        </div> {% endcomment %}
                    </div>
                </div>
               {% endfor %}
                <!-- End Single List list -->
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Total Amount -->
                    <div class="total-amount">
                        <div class="row">
                            {% if add.Name %}
                            <div class="col-lg-8 col-md-10 col-12">
                                <div class="left">
                                    <div class="coupon">
                                        <form action="#" target="_blank">
                                            <div>
                                            <div style="margin-bottom: 15px; " >
                                                <h3 class="text-center pb-2">Shipping Address</h3>
                                                    <label class="form-label" for="name">Name:</label><br>
                                                    <input class="form-control" value="{{add.Name}}" type="text" id="name" name="custname" required readonly/>
                                                </div>

                                                <div style="margin-bottom: 15px;">
                                                   <div class="input-group">
                                                    <select class="form-select" id="country_code" name="code" style="max-width: 130px;">
                                                        <option value="+91" selected>India (+91)</option>
                                                        </select>
                                                    <input type="tel" value="{{add.Phone}}" class="form-control p-2" id="phone" name="phone" placeholder="9876543210" required>
                                                </div>
                                                </div>

                                                <div style="margin-bottom: 15px;">
                                                    <label class="form-label" for="address" >Address:</label><br>
                                                    <textarea class="form-control" id="address" name="address" rows="4" cols="30" required>{{add.Address}}</textarea>
                                                </div>

                                                <div style="margin-bottom: 15px;">
                                                    <label class="form-label" for="pincode">Pincode:</label><br>
                                                    <input value="{{add.Pin}}" class="form-control" type="tel" min=6 max=6 id="pincode" name="pincode" pattern="[0-9]{6}" title="Please enter a 6-digit pincode" required>
                                                </div>

                                                <div>
                                                    <button class="btn btn-primary"  type="submit">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                             <div class="col-lg-8 col-md-10 col-12">
                                <div class="left">
                                    <div class="coupon">
                                        <form method="POST" action="{% url 'UserAdd' %}"  enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div>
                                            <div style="margin-bottom: 15px; " >
                                                <h3 class="text-center pb-2">Shipping Address</h3>
                                                    <label class="form-label" for="name">Name:</label><br>
                                                    <input value="{{names.Username}}" class="form-control" type="text" id="name" name="custname" required readonly/>
                                                </div>

                                                <div style="margin-bottom: 15px;">
                                                   <div class="input-group">
                                                    <select class="form-select" id="country_code" name="code" style="max-width: 130px;">
                                                        <option value="+91" selected>India (+91)</option>
                                                        </select>
                                                    <input type="tel" class="form-control p-2" id="phone" name="phone" placeholder="9876543210" required>
                                                </div>
                                                </div>

                                                <div style="margin-bottom: 15px;">
                                                    <label class="form-label" for="address" >Address:</label><br>
                                                    <textarea class="form-control" id="address" name="address" rows="4" cols="30" required></textarea>
                                                </div>

                                                <div style="margin-bottom: 15px;">
                                                    <label class="form-label" for="pincode">Pincode:</label><br>
                                                    <input class="form-control" type="tel" min=6 max=6 id="pincode" name="pincode" pattern="[0-9]{6}" title="Please enter a 6-digit pincode" required>
                                                </div>

                                                <div>
                                                    <button class="btn btn-primary"  type="submit">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="right">
                                    <ul>
                                        <li>Cart Subtotal<span>${{tot}}</span></li>
                                        <li>Shipping<span>Free</span></li>
                                        <li>GST 5%<span>₹{{gst}}</span></li>
                                        <li class="last">You Pay<span>₹{{totall}}</span></li>
                                    </ul>
                                    <div class="button">
                                        <a href="{% url 'PaymentPage' %}" class="btn">Checkout</a>
                                        <a href="{% url 'home' %}" class="btn btn-alt">Continue shopping</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ End Total Amount -->
                </div>
            </div>
        </div>
    </div>
    <!--/ End Shopping Cart -->

{% endblock contents %}